* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  min-height: 100vh;
}
.app__header {
  object-fit: contain;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}

.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postRight {
  margin-left: 20px;
}
